.header {
  font-size: 17px;
  margin-top: 10px;
  height: 75px;
  background-color: #eee;
}

.header-menu {
  padding: 25px;
  float: left;
  width: 70%;
}

.header-login {
  width: 30%;
  float: right;
  text-align: right;
}

.header-not-logged {
  padding: 25px;
}

.header-not-logged a {
  padding: 5px;
}

.header-not-logged a:hover {
  background-color: #fff;
  text-decoration: none;
  padding: 5px;
}

.header-logged {
  font-size:16px;
  padding: 5px;
}

.photo {
  width: 65px;
  height: 65px;
  border-radius: 30%;
  margin-left: 1px;
}

.logged-table {
  width: 95%;
}
