.header {
  display: flex;
  flex-direction: column;
}
.header--title {
  padding: 40px 40px 1em;
  font-size: large;
}
.header--user {
  padding: 0 40px 2em;

  .header--user--picture {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 5px;
  }

  .header--user-name {
    font-size: small;
  }

  .header--user-addrsss {
    max-width: 100%;
    font-size: x-small;
    text-overflow: ellipsis;
    overflow: hidden
  }
}
